body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}
.header{
    background-color: #fff;
    color: #282822;
    padding: 20px 10px;

}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
#branding{
    margin: 0;
    display: inline-block;
}

#navigation{
    float: right;
}
#navigation nav ul{
    width: 100%;
}
.header::after{
    content: '';
    display: block;
    clear: both;
}

.header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header nav ul li{
    display: inline;
    margin-right: 10px;
}
.header nav ul li a{
    color: #282822;
    text-decoration: none;
    padding: 10px 15px;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: #282822 2px solid;
}
.header nav ul li a:hover{
    background-color: #282822;
    color: #fff;

}
#banner{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
}
.info{
    line-height: 20px;
    margin: 0px;
}
.gradient{
    padding: 10px 10px;
    background: linear-gradient(45deg, rgba(244,255,154,1) 0%, rgba(0,212,255,0.4) 100%);
    height: 100%;
  
}
.title{
    margin: 8px;
    font-weight: 900;
    font-size: 67px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.flex-c-vertical{
    flex-direction: column;
}
.flex-item{
    flex: 2;
    padding: 20px;
}

.btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.btn:hover{
    background-color: #fff;
    color: #282822;
}